<ion-view view-title="Dashboard">
  <ion-content>
    <ion-refresher
      pulling-text="Pull_to_refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="card">
      <div class="item item-divider o_bRed">
        Routines
      </div>
      <div class="item item-text-wrap">
        <div class="list">
          <a class="item item-avatar" ng-repeat="routine in storageuser.routines" ng-href="#/app/routine/{{routine._id}}">
            <img src="img/routine.png">
            <h2>{{routine.title}}</h2>
            <p>{{routine.description}}</p>
          </a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider o_bYellow">
        Diets
      </div>
      <div class="item item-text-wrap">
        <div class="list">
          <a class="item item-avatar" ng-repeat="diet in storageuser.diets" ng-href="#/app/diet/{{diet._id}}">
            <img src="img/diet.png">
            <h2>{{diet.title}}</h2>
            <p>{{diet.description}}</p>
          </a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider o_bBlue">
        Suggestions, people to follow
      </div>
        <div class="list">
          <a class="item item-avatar" ng-repeat="user in suggestions" ng-href="#/app/user/{{user._id}}">
            <img ng-show="user.avatar" ng-src="{{user.avatar}}" />
            <h2>{{user.name}}</h2>
            <h3>{{user.role}}</h3>
            <p>{{user.email}}</p>
          </a>
        </div>
    </div>
  </ion-content>
</ion-view>
