<ion-view view-title="editUser">
    <ion-content>
        <div class="card">
            <div class="thumbnailBackground">
                <img ng-show="user.background" ng-src="{{user.background}}" ng-click="">
            </div>
            <div class="item item-divider">
                Personal Info
                <span>
                     <span class="input-label">Name</span>
                        <input type="text" ng-model="user.name" placeholder="Name">
                    <span class="input-label">Description</span>
                        <input type="text" ng-model="user.description" placeholder="Description">
                     <span class="input-label">Email</span>
                        <input type="text" ng-model="user.email" placeholder="Email">
                </span>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Personal Attributes
            </div>
            <div class="item item-text-wrap">
                <div class="list">
            <span>
                <span class="input-label">Height</span>
                        <input type="text" ng-model="user.attributes.height" placeholder="Height">
                <span class="input-label">Weight</span>
                        <input type="text" ng-model="user.attributes.weight" placeholder="Weight">
                <span class="input-label">Gender</span>
                        <input type="text" ng-model="user.attributes.gender" placeholder="Gender">
                <span class="input-label">Age</span>
                        <input type="text" ng-model="user.attributes.age" placeholder="Age">
                </span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Personal Info
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Direction</span>
                        <input type="text" ng-model="user.direction" placeholder="Direction">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">City</span>
                        <input type="text" ng-model="user.city" placeholder="City">
                    </label>
                    <button class="button button-positive" ng-click="updateUser()">
                        Save Changes
                    </button>
                </div>
            </div>
        </div>
</ion-view>
