<ion-view view-title="Likes of {{publication.title}}">
  <ion-content>
    <ion-refresher
        pulling-text="Pull_to_refresh..."
        on-refresh="doRefresh()">
    </ion-refresher>

    <div class="card">
        <div class="item item-divider o_bBlue">
            {{publication.likes.length}} Likes of: "{{publication.title}}""
        </div>
        <div class="list">
            <a class="item item-avatar" ng-repeat="user in publication.likes" ng-href="#/app/user/{{user._id}}">
                <img ng-show="user.avatar" ng-src="{{user.avatar}}" />
                <h2>{{user.name}}</h2>
                <p>{{user.description}}</p>
            </a>
        </div>
    </div>
  </ion-content>
</ion-view>
