<ion-modal-view class="o-login_background">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-balanced" ng-click="signup()">Signup</button>
      <button class="button button-dark" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="o-halfTransparent">
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input o-transparent">
          <!--<span class="input-label">Name</span>-->
          <input type="email" placeholder="email" ng-model="loginData.email">
        </label>
        <label class="item item-input o-transparent">
          <!--<span class="input-label">Password</span>-->
          <input type="password" placeholder="Password" ng-model="loginData.password">
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Account type
          </div>
          <select ng-model="loginData.role">
            <option value="user" selected>User</option>
            <option value="trainer">Trainer</option>
            <option value="chef">Chef</option>
          </select>
        </label>

        <label class="item o-transparent">
          <button class="button button-block button-positive" type="submit">Login</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
