<ion-view view-title="Main">
  <ion-content>
      <a ng-href="#/app/user/{{storageuser._id}}" class="item item-icon-left o_bBlue">
        <i class="icon ion-person"></i>
        Profile
      </a>
      <a href="#/app/dashboard" class="item item-icon-left o_bGreen">
        <i class="icon ion-podium"></i>
        Dashboard
      </a>
      <a href="#/app/marks/{{storageuser._id}}" class="item item-icon-left o_bOrange">
      <i class="icon ion-flag"></i>
        Marks
      </a>
      <a href="#/app/runs/{{storageuser._id}}" class="item item-icon-left o_bPurple">
        <i class="icon ion-location"></i>
        Run
      </a>
      <a ng-href="#/app/network" class="item item-icon-left o_bBlueDark">
        <i class="icon ion-person-stalker"></i>
        Network
      </a>
      <a ng-href="#/app/eating" class="item item-icon-left o_bYellow">
        <i class="icon ion-fork"></i>
        Diets
      </a>
      <a ng-href="#/app/pointsGraphs/{{storageuser._id}}" class="item item-icon-left o_bGreenDark">
        <i class="icon ion-arrow-graph-up-right"></i>
        Points
      </a>
      <a ng-href="#/app/training" class="item item-icon-left o_bRed">
        <i class="icon ion-flash"></i>
        Training
      </a>
  </ion-content>
  <div class="tabs tabs-icon-left">
    <a class="tab-item" ng-href="#/app/marks/{{storageuser._id}}">
      <i class="icon ion-stats-bars"></i> Marks
    </a>
    <a class="tab-item" ng-href="#/app/main">
      <i class="icon ion-home"></i> Home
    </a>
    <a ng-href="#/app/newPublication" class="tab-item">
      <i class="icon ion-paper-airplane"></i> New publication
    </a>
  </div>
</ion-view>
