<ion-view view-title="Main">
  <ion-content>
      <a ng-href="#/app/user/{{storageuser._id}}" class="item item-icon-left o_bBlue">
        Profile
      </a>
      <a href="#/app/dashboard" class="item item-icon-left o_bGreen">
        Dashboard
      </a>
      <a href="#/app/marks/{{storageuser._id}}" class="item item-icon-left o_bOrange">
        Marks
      </a>
      <a href="#/app/runs/{{storageuser._id}}" class="item item-icon-left o_bPurple">
        Run
      </a>
      <a ng-href="#/app/network" class="item item-icon-left o_bBlueDark">
        Network
      </a>
      <a ng-href="#/app/eating" class="item item-icon-left o_bYellow">
        Diets
      </a>
      <a ng-href="#/app/pointsGraphs/{{storageuser._id}}" class="item item-icon-left o_bGreenDark">
        Points
      </a>
      <a ng-href="#/app/training" class="item item-icon-left o_bRed">
        Training
      </a>
    (això seran caixes amb icones, i les caixes ocuparan més espai vertical)
  </ion-content>
  <div class="tabs tabs-icon-left">
    <a class="tab-item" ng-href="#/app/marks/{{storageuser._id}}">
      <i class="icon ion-stats-bars"></i> Marks
    </a>
    <a class="tab-item" ng-href="#/app/main">
      <i class="icon ion-home"></i> Home
    </a>
    <a ng-href="#/app/newPublication" class="tab-item">
      <i class="icon ion-paper-airplane"></i> New publication
    </a>
  </div>
</ion-view>
