<ion-view view-title="Marks of {{user.name}}">
    <ion-content>
      <ion-refresher
          pulling-text="Pull_to_refresh..."
          on-refresh="doRefresh()">
      </ion-refresher>
        <div class="card" ng-repeat="mark in user.marks | orderBy:orderBy">
            <div class="item item-divider o_bOrange">
                <div class="item-note">
                    <button class="button button-small o_bRedLight"
                          ng-click="showPopupDeleteMark(mark)"
                           ng-show="storageuser._id==user._id">
                        <i class="icon ion-trash-a"></i>
                    </button>
                    <button class="button button-small o_bOrange"
                    ng-click="showPopupAddDayToMark(mark)">
                        Add day to mark
                    </button>
                </div>
              {{mark.title}}
            </div>
            <div class="item" ng-click="showGraphs(mark)">
                <!--<span class="item-note">
                    <button class="button button-small o_bOrange"
                    ng-click="showGraphs(mark)">
                        View Graphs
                    </button>
                </span>-->
                <div ng-repeat="day in mark.days">
                    <p>{{day.date | date: "dd/MM/y"}}</p>
                    <p>{{day.value}} {{mark.unit}}</p>
                </div>
            </div>
        </div>
        <a class="button button-block button-stable" ng-href="#/app/newMark">
            Add new mark
        </a>
    </ion-content>
</ion-view>
