<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable" ng-show="storageuser">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon icon ion-navicon flat" menu-toggle="left">
                </button>
              <!--<a class="button button-outline icon-right ion-navicon button-positive" menu-toggle="left"></a>-->
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
        <!-- menu footer -->
        <div class="tabs tabs-icon-left" ng-controller="FooterMenuCtrl" ng-show="storageuser" ng-hide="location=='message'">
          <a class="tab-item" ng-href="#/app/marks/{{storageuser._id}}">
            <i class="icon ion-stats-bars"></i> Marks
          </a>
          <a class="tab-item" ng-href="#/app/main">
            <i class="icon ion-home"></i> Home
          </a>
          <a ng-href="#/app/newPublication" class="tab-item">
            <i class="icon ion-paper-airplane"></i> New publication
          </a>
        </div>
        <!-- /menu footer -->
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable o_bSidenav">
            <h1 class="title o_fWhiteLight">Menu</h1>
            <a ng-href="#/app/newPublication" menu-close class="item-note button button-small button-stable">New publication</a>
        </ion-header-bar>
        <ion-content ng-controller="MenuCtrl">
            <ion-list>
            <a class="item item-avatar o_bSidenav" ng-hide="storageuser" menu-close href="#/app/login">
                Login
            </a>
            <a class="item item-avatar o_bSidenav" ng-show="storageuser" menu-close ng-href="#/app/user/{{storageuser._id}}">
                <img style="width:40px;" ng-src="{{storageuser.avatar}}">
                <h2 class="o_fWhiteLight">{{storageuser.name}}</h2>
                <p>{{storageuser.points.total}} points</p>
            </a>
            <a class="item item-avatar o_bSidenav" menu-close ng-href="#/app/main">
                <img ng-src="img/sidenav/dashboard.png" alt="description"/>
                Main
            </a>
            <a class="item item-avatar o_bSidenav" menu-close ng-href="#/app/dashboard">
                <img ng-src="img/sidenav/dashboard.png" alt="description"/>
                Dashboard
            </a>
            <a class="item item-avatar o_bSidenav" menu-close ng-href="#/app/messages">
                <img ng-src="img/sidenav/messages.png" alt="description"/>
                Messages
            </a>
            <a class="item item-avatar o_bSidenav" menu-close ng-href="#/app/notifications">
                <img ng-src="img/sidenav/notification.png" alt="description"/>
                Notifications
            </a>
            <a class="item item-avatar o_bSidenav" menu-close ng-href="#/app/network">
                <img ng-src="img/sidenav/network.png" alt="description"/>
                Network
            </a>
            <a class="item item-avatar o_bSidenav" menu-close ng-href="#/app/training">
                <img ng-src="img/sidenav/training.png" alt="description"/>
                Training
            </a>
            <a class="item item-avatar o_bSidenav" menu-close ng-href="#/app/eating">
                <img ng-src="img/sidenav/diet.png" alt="description"/>
                Diet
            </a>
            <a class="item item-avatar o_bSidenav" menu-close ng-href="#/app/settings">
                <img ng-src="img/sidenav/settings.png" alt="description"/>
                Settings
            </a>
            <a class="item item-avatar o_bSidenav" menu-close ng-click="logout()">
                <img src="img/sidenav/logout.png" alt="logout"/>
                Logout (això ho treurem)
            </a>
        </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
