<ion-view view-title="Messages">
  <ion-content>
    <div class="list">
      <a class="item item-avatar" ng-repeat="conversation in conversations | orderBy: '-date'" ng-href="#/app/message/{{conversation._id}}">
          <img class="item-image" ng-show="storageuser._id==conversation.userB._id" ng-src="{{conversation.userA.avatar}}"/>
          <img class="item-image" ng-show="storageuser._id==conversation.userA._id" ng-src="{{conversation.userB.avatar}}"/>
          <h2 ng-show="storageuser._id==conversation.userB._id">{{conversation.userA.name}}</h2>
          <h2 ng-show="storageuser._id==conversation.userA._id">{{conversation.userB.name}}</h2>
      </a>
    </div>
  </ion-content>
</ion-view>
