<ion-view view-title="New Publication">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input ng-model="newPost.title" type="text" placeholder="Title">
            </label>
            <label class="item item-input">
                <textarea ng-model="newPost.content" placeholder="Content"></textarea>
            </label>
            <div class="item">
                <button class="button o_bGreenDark" ng-click="takePhoto()">Take photo</button>
                <button class="button" ng-click="chooseImage()">Choose photo</button>
            </div>
            <div class="item">
                <img ng-show="newPost.photo" style="width: 80%" ng-src="{{newPost.photo}}">
            </div>
            <div class="item">
                <button ng-click="cancel()" class="button button-assertive">Cancel</button>
                <button ng-click="sendNewPost()" class="button button-balanced o_floatRight">Send!</button>
            </div>
        </div>
    </ion-content>
</ion-view>
