<ion-view view-title="Notifications">
  <ion-content>
    <ion-refresher
        pulling-text="Pull_to_refresh..."
        on-refresh="doRefresh()">
    </ion-refresher>
    <div class="card">
      <div class="item item-divider">
        Notifications
      </div>
        <div class="list">
          <a class="item item-avatar o_bGreyLight" ng-repeat="notification in notifications.pendent | orderBy: '-date'" ng-href="#/app/{{notification.link}}">
            <img src="img/notification.png">
            <h2>{{notification.message}}</h2>
            <p>{{notification.date | date: "dd/MM/yyyy, HH:mm"}}</p>
          </a>
        </div>
        <div class="list">
          <a class="item item-avatar" ng-repeat="notification in notifications.viewed | orderBy: '-date'" ng-href="#/app/{{notification.link}}">
            <img src="img/notification.png">
            <h2>{{notification.message}}</h2>
            <p>{{notification.date | date: "dd/MM/yyyy, HH:mm"}}</p>
          </a>
        </div>
    </div>
  </ion-content>
</ion-view>
