<ion-view view-title="Run map {{run.title}}">
    <ion-content>
        <a class="item-note button o_bGreenDark" ng-href="#/app/run/{{run._id}}">
            View history
        </a>
        <a class="item item-avatar" ng-href="#/app/user/{{run.user._id}}">
            <img class="item-image" ng-src="{{run.user.avatar}}"/>
            <h2>{{run.title}}</h2>
            <p>{{run.distance| number : 3}} km</p>
        </a>
        <ng-map zoom="18" center="[{{centerPos.lat}}, {{centerPos.long}}]" style="height:80%;">
            <shape
            name="{{vm.run.name}}"
            stroke-color="#68c3f0"
            stroke-opacity="0.8"
            path="{{vm.run.path}}"
            paths="{{vm.run.paths}}"
            bounds="{{vm.run.bounds}}"
            center="{{vm.run.center}}"
            radius="{{vm.run.radius}}"
            stroke-weight="10"></shape>
        </ng-map>
    </ion-content>
</ion-view>
