<ion-view view-title="Runs">
  <ion-content>
    <ion-refresher
        pulling-text="Pull_to_refresh..."
        on-refresh="doRefresh()">
    </ion-refresher>
    <a ng-href="#/app/newRun" class="button button-block o_bPurple"
    ng-show="storageuser._id==user._id">
        New run!
    </a>
    <div class="list">
        <a class="item" ng-repeat="run in user.runs | orderBy: '-datefinish'" ng-href="#/app/runMap/{{run._id}}">
            <spam class="item-note">{{run.datefinish | date: "dd/MM/yyyy, HH:mm"}}</spam>
            <h2>{{run.title}}</h2>
            <p>{{run.distance| number : 3}} km</p>
        </a>
    </div>
  </ion-content>
</ion-view>
