<ion-view view-title="Search">
  <ion-content>
      <div class="item item-input-inset">
          <label class="item-input-wrapper">
              <input type="text" ng-model="searchstring.value" placeholder="Search">
          </label>
          <button class="button button-small" ng-click="goSearch()">
              <i class="icon ion-search placeholder-icon"></i>
          </button>
      </div>

      <div class="card">
        <div class="item item-divider o_bBlue">
          Users
        </div>
        <div class="item item-text-wrap">
          <div class="list">
            <a class="item item-avatar" ng-repeat="user in searchresults.users" ng-href="#/app/user/{{user._id}}">
              <img ng-show="user.avatar" ng-src="{{user.avatar}}" />
              <h2>{{user.name}}</h2>
              <p>{{user.description}}</p>
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="item item-divider o_bRed">
          Trainers
        </div>
        <div class="item item-text-wrap">
          <div class="list">
            <a class="item item-avatar" ng-repeat="trainer in searchresults.trainers" ng-href="#/app/user/{{trainer._id}}">
              <img ng-show="trainer.avatar" ng-src="{{trainer.avatar}}" />
              <h2>{{trainer.name}}</h2>
              <p>{{trainer.description}}</p>
            </a>
          </div>
          <p>
            <a href="#/app/trainersSearcher" class="item-note subdued">Search for trainers by discipline</a>
          </p>
        </div>
      </div>

      <div class="card">
        <div class="item item-divider o_bRedDark">
          Routines
        </div>
        <div class="item item-text-wrap">
          <div class="list">
            <a class="item item-avatar" ng-repeat="routine in searchresults.routines" ng-href="#/app/routine/{{routine._id}}">
              <img src="img/routine.png">
              <h2>{{routine.title}}</h2>
              <p>{{routine.description}}</p>
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider o_bYellow">
          Diets
        </div>
        <div class="item item-text-wrap">
          <div class="list">
            <a class="item item-avatar" ng-repeat="diet in searchresults.diets" ng-href="#/app/diet/{{diet._id}}">
              <img src="img/diet.png">
              <h2>{{diet.title}}</h2>
              <p>{{diet.description}}</p>
            </a>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
