<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Signup</h1>
    <div class="buttons">
      <a class="button button-dark" ng-href="#/app/login">Close</a>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSignup()">
      <div class="list">
        <label class="item item-input">
            <span class="input-label">Email*</span>
            <input type="email" ng-model="signupData.email">
        </label>
        <label class="item item-input">
            <span class="input-label">Password*</span>
            <input type="password" ng-model="signupData.password">
        </label>
        <label class="item item-input">
            <span class="input-label">Name*</span>
            <input type="text" ng-model="signupData.name">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Account type
          </div>
          <select ng-model="signupData.role" value="user">
            <option value="user">User</option>
            <option value="trainer">Trainer</option>
            <option value="chef">Chef</option>
          </select>
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Signup</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
