<ion-view view-title="Training">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        Routines
      </div>
      <div class="item item-text-wrap">
        <div class="list">
          <a class="item item-avatar" ng-repeat="routine in storageuser.routines" ng-href="#/app/routine/{{routine._id}}">
            <img src="img/routine.png">
            <h2>{{routine.title}}</h2>
            <p>{{routine.description}}</p>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
