<ion-view view-title="User">
  <ion-content>
      <ion-refresher
        pulling-text="Pull_to_refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>
      <div class="thumbnailBackground">
        <img ng-show="user.background" ng-src="{{user.background}}" ng-click="">
      </div>


      <div class="item item-avatar">
        <img ng-show="user.avatar" ng-src="{{user.avatar}}" ng-click="">
        <img ng-hide="user.avatar" style="width:40px;" src="img/user.png">
        <button href="#" ng-show="storageuser.name==user.name" class="item-note subdued button button-small  button-dark">Edit Profile</button>
        <h2>{{user.name}}</h2>
        <p>{{user.description}}</p>
      </div>

      <div class="item item-body">
        <p>
          {{user.email}}
        </p>
        <p>
          {{user.points.total}} points
        </p>
      </div>

        <!-- publications-->
        <div class="item">
            <p>Publications</p>
        </div>
        <div ng-repeat="publication in user.publications | orderBy: '-date'">

            <div class="item item-avatar">
                <img ng-src="{{user.avatar}}">
                <p class="item-note">{{publication.date | date: "dd/MM/yyyy, HH:mm"}}h</p>
                <h2>{{user.name}}</h2>
            </div>
            <div class="item item-image">
                <img ng-src="{{publication.photo}}">
                <p>{{publication.title}}</p>
                <p>{{publication.content}}</p>
            </div>
            <div class="item">
                <img src="img/trash_grey.png"
                ng-show="user._id==storageuser._id"
                ng-click="deletePublication($event, publication._id)"/>
                <div class="o_floatRight">
                    <img ng-show="arrayObjectIndexOf(publication.likes, storageuser._id)==-1"
                    ng-click="sendLikeToPublication(publication, $index)"
                    src="img/likeEmpty.png"/>
                    <img ng-show="arrayObjectIndexOf(publication.likes, storageuser._id)!=-1"
                    ng-click="sendDislikeToPublication(publication, $index)"
                    src="img/like.png"/>
                    {{publication.likes.length}} likes
                </div>
            </div>
            <br>
        </div>
        <!-- end of publications -->
  </ion-content>
</ion-view>
