<ion-view view-title="User">
  <ion-content>
    <div class="list card">
      <div class="thumbnailBackground">
        <img ng-hide="user.background" src="img/background.jpg">
        <img ng-show="user.background" ng-src="{{user.background}}" ng-click="">
      </div>

      <div class="item item-avatar">
        <img ng-show="user.avatar" ng-src="{{user.avatar}}" ng-click="">
        <img ng-hide="user.avatar" style="width:40px;" src="img/user.png">

        <h2>{{user.name}}</h2>
        <p>{{user.description}}</p>
      </div>

      <div class="item item-body">
        <p>
          {{user.email}}
        </p>
        <p>
          {{user.points.total}} points
        </p>
        <p>
          <a href="#" ng-show="storageuser.name==user.name" class="item-note subdued">Edit profile</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
